<button (click)="generateRandom()">Random Value</button>

<div>
  <h2>Test in app component</h2>
  <p>
    This is just a reference to view the values. But it to demonstrate a change detection effect in Angular.
    The values here would not change if you would remove the other components. This is because the <b>markForCheck</b> call
    of the child components actually bubbles up in the DOM and Angular checks everything on the way there.
  </p>
  <pre>
// simple
{{value}}

// mutable
{{mutableValue | json}}

// immutable
{{immutableValue | json}}
  </pre>
</div>

<div>
  <h2>Binding to child input</h2>
  <app-reference [value]="value" title="Simple value"></app-reference>
  <app-reference [value]="mutableValue" title="Mutable object"></app-reference>
  <app-reference [value]="immutableValue" title="Immutable object"></app-reference>
</div>

<div>
  <h2>Using async on child input</h2>
  <app-reference [value]="value$ | async" title="Simple value"></app-reference>
  <app-reference [value]="mutableValue$ | async" title="Mutable object"></app-reference>
  <app-reference [value]="immutableValue$ | async" title="Immutable object"></app-reference>
</div>

<div>
  <app-smart></app-smart>
</div>
<div>
  <app-smart-async></app-smart-async>
</div>

